.contact {
    padding: 50px 20px;
    text-align: left;
}

.contact-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.left-side,
.right-side {
    flex: 1;
    padding: 20px;
}

#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
}

.contact-info {
    margin-top: 20px;
}

.contact-info h2 {
    margin-top: 0;
}

.divider {
    width: 2px;
    background-color: #d3d3d3;
    margin: 0 20px;
    height: auto;
    min-height: 100%;
    align-self: stretch;
}

/*Contact Form*/
.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #EF3B3B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #D12C2C;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column; 
    }

    .left-side,
    .right-side {
        padding: 10px 0;
    }

    .divider {
        display: none; 
    }

    .left-side {
        order: 1;
    }

    .right-side {
        order: 2;
    }
}
