body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NavBar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 2000;
}

.navbar .logo {
    flex: 1;
}

.logo img {
    height: 35px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px;
    font-size: 18px;
}

.navbar ul li {
    margin: 0 15px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #14223E;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
}

.navbar ul li a:hover::after,
.navbar ul li a.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #EF3B3B;
    transform: translateY(5px);
}

.navbar ul li a.active {
    color: #EF3B3B;
}

.navbar ul li a:hover {
    color: #EF3B3B;
}

.navbar .icons {
    display: flex;
    align-items: center;
    padding-right: 40px;
    flex: 1;
    justify-content: flex-end;
}

.navbar .icons a {
    color: #555;
    margin: 0 10px;
    font-size: 18px;
    text-decoration: none;
}

/* Overlay Menu */
.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: white;
    overflow-x: hidden;
    transition: right 0.5s;
    z-index: 3000;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-content a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #14223E;
    display: block;
    transition: 0.3s;
}

.overlay-content a:hover,
.overlay-content a.active {
    color: #EF3B3B;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #14223E;
}

/* Burger Menu */
.burger {
    display: none;
    cursor: pointer;
    padding-right: 40px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
}

/* Footer */
footer {
    color: #ffffff;
}

.footer-content {
    background-color: #14223E;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-bottom {
    background-color: #EF3B3B;
    text-align: center;
    padding: 5px 0px;
}

.about-us {
    width: 30%;
    min-width: 250px;
}

.about-us h2 {
    margin: 0;
}

.about-us p {
    margin-top: 5px;
}

.quick-links-contact {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.quick-links,
.contact-us {
    min-width: 150px;
}

.quick-links ul {
    list-style: none;
    padding: 0;
}

.quick-links ul li {
    margin: 5px 0;
}

.quick-links ul li a {
    color: #ffffff;
    text-decoration: none;
}

.contact-us {
    margin-left: 20px;
}

.contact-us h2 {
    margin: 0;
}

.social-icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.social-icons a {
    color: #ffffff;
    margin-right: 10px;
    font-size: 26px;
    text-decoration: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .quick-links-contact {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-us {
        margin: 20px 0;
    }

    .hero {
        padding: 50px 10px;
    }

    .card-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        width: 100%;
        margin: 10px;
    }

    .navbar ul {
        display: none;
    }

    .burger {
        display: block;
    }

    .navbar .icons {
        display: none;
    }

    .video-container {
        flex-direction: column;
        padding: 0 20px;
    }

    .video-description {
        text-align: center;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .video-frame {
        width: 100%;
    }
}

/* Overlay for Mobile Menu */
.overlay.show {
    right: 0;
}

body {
    padding-top: 80px;
}

body.no-scroll {
    overflow: hidden;
}
